<div class="row">
    <div class="col-md-9" style="background-color: white;">

<link href="assets/src/nv.d3.css" rel="stylesheet" type="text/css">

<style>

body {
  overflow-y:scroll;
}

text {
  font: 12px sans-serif;
}

#chart1 svg {
  height: 500px;
  margin: 10px;
  min-width: 100px;
  min-height: 100px;
/*
  Minimum height and width is a good idea to prevent negative SVG dimensions...
  For example width should be =< margin.left + margin.right + 1,
  of course 1 pixel for the entire chart would not be very useful, BUT should not have errors
*/
}

</style>
 <div id="chart1" class='with-3d-shadow with-transitions'>
    <svg> </svg>
  </div>
<script src="/assets/lib/d3.v3.js"></script>
<script src="/assets/nv.d3.js"></script>
<script src="/assets/src/utils.js"></script>
<script src="/assets/src/tooltip.js"></script>
<script src="/assets/src/models/legend.js"></script>
<script src="/assets/src/models/axis.js"></script>
<script src="/assets/src/models/scatter.js"></script>
<script src="/assets/src/models/line.js"></script>
<script src="/assets/src/models/historicalBar.js"></script>
<script src="/assets/src/models/linePlusBarChart.js"></script>


<script>


var testdata = [
  {
    "key" : "Quantity" ,
    "bar": true,
    "values" : 
    [ 
    <% @parsed_response.each do |r| %>

     [<%= "#{r["date_ms"]}" %>, <%= "#{r["amount"]}" %>],
     <% end %>

    ]
  },
  {
    "key" : "Price" ,
    "values" : [ 
    <% @parsed_response.each do |r| %>
 
     [<%= "#{r["date_ms"]}" %>, <%= "#{r["price"]}" %> * <%= "#{r["amount"]}" %>],
     <% end %>
   ]
  }
].map(function(series) {
  series.values = series.values.map(function(d) { return {x: d[0], y: d[1] } });
  return series;
});


var chart;

nv.addGraph(function() {
    chart = nv.models.linePlusBarChart()
        .margin({top: 30, right: 60, bottom: 50, left: 70})
        .x(function(d,i) { return i })
        .color(d3.scale.category10().range());

    chart.xAxis.tickFormat(function(d) {
      var dx = testdata[0].values[d] && testdata[0].values[d].x || 0;
      return dx ? d3.time.format('%H:%M:%p')(new Date(dx)) : '';
      })
      .showMaxMin(false);

    chart.y1Axis
        .tickFormat(d3.format(',f'));

    chart.y2Axis
        .tickFormat(function(d) { return '$' + d3.format(',.2f')(d) });

    chart.bars.forceY([0]).padData(false);
    //chart.lines.forceY([0]);

    d3.select('#chart1 svg')
        .datum(testdata)
      .transition().duration(500).call(chart);

    nv.utils.windowResize(chart.update);

    chart.dispatch.on('stateChange', function(e) { nv.log('New State:', JSON.stringify(e)); });

    return chart;
});

</script>
</div>
<%= javascript_tag do %>
  priceUSD = "<%= @parsed_response_chart["market_price_usd"] %>"
<% end %>
<!-- REQUIRE THE D3 LIBRARY Visual Sedimentation -->
<script type="text/javascript" src="/assets/_VisualSedimentation.js"></script> 

<!-- REQUIRE APP.JS FOR THE WEBSOCKET -->
<script type="text/javascript" src="/assets/stats.js"></script> 


 <div class="col-md-3">
    <div class="core-header-panel"><!-- Polymer core element -->
      
      <%= link_to image_tag("Federallogo.png"), root_path, method: :get %>
      <br>
      <div class="center">
        <div class="rails-link">
          <strong>
            <%= link_to "Charts", exchange_path %>
          </strong>
        </div>
        <div class="rails-link">
        <strong>
          <%= link_to "Bubble Chart", bubble_path %>
        </strong>
        </div>
      </div>
      <br>

      <div class="btn">
        <%= form_tag(stats_path, method: "get") do %>
          <%= text_field_tag :addressSearch,nil, placeholder: "Search Bitcoin Address", :class =>"btn-sm" %>
          <%= submit_tag "Search", :class => "btn btn-default btn-sm" %>
        <% end %>
      </div>

      <div class="center">
        
          <h4>Market Price USD: $<%= @parsed_response_chart["market_price_usd"] %></h4><!-- current market price -->
      
      <div>

      <div id="grandtotal" class="center">
          Running Total: <!-- Keeps a running tab of USD grand toatakamount -->
      </div>

      <ul class="nav nav-tabs" style="margin-bottom: 15px;">
        <li class="active">
          <a href="#bitcoins" data-toggle="tab">
            BTC Amount
          </a>
        </li>
        <li>
          <a href="#dollars" data-toggle="tab" >
            Dollar Value
          </a>
        </li>
      </ul>

      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="bitcoins">
          <div id="output" class="btclist">
            <div></div><!-- required for .insertBefore -->
          </div>
        </div>

        <div class="tab-pane fade" id="dollars">
          <div id="dollar" class="btclist">
            <div></div><!-- required for .insertBefore -->
          </div>
        </div>

      </div><!-- end of myTabContent -->
  
    </div><!-- end core-header-panel -->
  </div><!-- end col-md-3 -->

</div><!-- end row -->
<div class="donate a2">
  Donate Please<br>
  <%= link_to"19htWM6ceqkjguY7TezEeybSE2LzvSfqYk", "https://blockchain.info/address/19htWM6ceqkjguY7TezEeybSE2LzvSfqYk", :class => "a2" %>
</div>

</div>