<!-- REQUIRE THE D3 LIBRARY Visual Sedimentation -->
<script type="text/javascript" src="/assets/_VisualSedimentation.js"></script> 

<!-- REQUIRE APP.JS FOR THE WEBSOCKET -->
<script type="text/javascript" src="/assets/app.js"></script> 

<!-- creates a var=priceUSD for JS -->
<%= javascript_tag do %>
  priceUSD = "<%= @parsed_response["market_price_usd"] %>"
<% end %>

<div class="row">
  <!-- Style tag removes the grey padding to the right. -->
  <div class="col-md-9 bg-white" style="padding-right: 0px;">

    <div class="btn-center"> <!-- start of buttons to turn off and on BTC and DOGE -->
      <button class="btn btn-default" onclick="toggleBitcoin()" >Bitcoin Loading</button> 
      <button class="btn btn-default" onclick="toggleDogecoin()">Dogecoin Loading</button>
      <div class="token-click" id="btc-callback">
        <div></div><!-- required for replaceChild -->
      </div>
      <div class="token-click" id="doge-callback2">
        <div></div><!-- required for replaceChild -->
      </div>
    </div>

    <div class="content">
      <!--- #myDemo now has a css rule -->
      <div id="myDemo">
        <script type="text/javascript" src="/assets/moneyFalling.js"></script>
      </div>
    </div> 

  </div><!-- end col-md-9 -->

  <div class="col-md-3">
    <div class="core-header-panel"><!-- Polymer core element -->
      <div class="logo-style"><!-- Logo -->
        <%= link_to image_tag("Federallogo.png"), root_path, method: :get %>
      </div>   

      <div class="center">
      by: <a class="a2" href="https://www.linkedin.com/profile/view?id=132408717">thirdChance57</a> and <a class="a2" href="https://www.linkedin.com/pub/gregory-akerman/29/663/b78/">Gregory Akerman</a></div>  
      <div class="donate a2">
        Donate<br>
        <%= link_to"19htWM6ceqkjguY7TezEeybSE2LzvSfqYk", "https://blockchain.info/address/19htWM6ceqkjguY7TezEeybSE2LzvSfqYk", :class => "a2" %>
      </div>
      <hr class="m-0">
      <div class="center">
        <!-- <div class="rails-link">
          <strong>
            <%#= link_to "Charts", exchange_path %>
          </strong>
        </div> -->
        <div class="rails-link">
          <strong>
            <a href="#" class="disabled">Gravity Chart</a> &nbsp; <%= link_to "Bubble Chart", bubble_path %>
          </strong>
        </div>
      </div><!-- end of center -->
      <br>

      <div class="center">
        <%= form_tag(stats_path, method: "get") do %>
          <%= text_field_tag :addressSearch,nil, placeholder: "Search Bitcoin Address", :class =>"btn-sm" %>
          <%= submit_tag "Search", :class => "btn btn-default btn-sm" %>
        <% end %>
      </div>

      <div class="center">
        <h4>BTC Market Price USD: $<%= @parsed_response["market_price_usd"] %></h4><!-- current market price -->
        <div id="grandtotal">
            Running Total: <!-- Keeps a running tab of USD grand toatakamount -->
        </div>
      </div>
      <ul class="nav nav-tabs" style="margin-bottom: 15px;">
        <li class="active">
          <a href="#bitcoins" data-toggle="tab">
            BTC Amount
          </a>
        </li>
        <li>
          <a href="#dollars" data-toggle="tab" >
            Dollar Value
          </a>
        </li>
      </ul>

      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="bitcoins">
          <div id="output" class="btclist">
            <div></div><!-- required for .insertBefore -->
          </div>
        </div>

        <div class="tab-pane fade" id="dollars">
          <div id="dollar" class="btclist">
            <div></div><!-- required for .insertBefore -->
          </div>
        </div><!-- end of tab-pane -->
      </div><!-- end of myTabContent -->
    </div><!-- end core-header-panel -->
  </div><!-- end col-md-3 -->
</div><!-- end row -->

