<!DOCTYPE html>
<html>
<head>
  <title>CGcoin</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
 
  <%= csrf_meta_tags %>
      <!-- Material Design for Bootstrap -->
    <link href="/assets/material-wfont.min.css" rel="stylesheet">
    <link href="/assets/ripples.min.css" rel="stylesheet">

  <!-- JAVASCRIPT LIBRARY LINK -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  <!-- BOOTSTRAP LIBRARY LINK -->
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  <style shim-shadowdom>

    body {
      font-family: sans-serif;
    }

    .core-header-panel {
      float: left;
      width: 360px;
      height: 400px;
      margin: 5px;
       -webkit-box-shadow: 1px 1px 3px #292929;
         -moz-box-shadow: 1px 1px 3px #292929;
         box-shadow: 1px 1px 3px #292929;

    }
    
    .core-header-panel[mode=cover]::shadow #mainContainer {
      left: 70px;
    }
    .core-header-panel2 {
      float: left;
      
      height: 400px;
      margin: 5px;
       -webkit-box-shadow: 1px 1px 3px #292929;
         -moz-box-shadow: 1px 1px 3px #292929;
         box-shadow: 1px 1px 3px #292929;

    }
    
    .core-header-panel2[mode=cover]::shadow #mainContainer {
      left: 70px;
    }
    .core-header {
      height: 60px;
      line-height: 60px;
      font-size: 18px;
      padding: 0 10px;
      background-color: #4F7DC9;
      color: #FFF;
      transition: height 0.2s;
    }
    
    .core-header.tall {
      height: 180px;
    }
    
    .core-header.medium-tall {
      height: 120px;
    }

    .content {
      height: 2000px;
      background: linear-gradient(rgb(214, 227, 231), lightblue);
    }

     body.core-narrow {
      padding: 8px;
    }
    
  
    
     paper-tabs, core-toolbar {
      background-color: #00bcd4;
      color: #fff;
      box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
    }
    
    core-toolbar paper-tabs {
      box-shadow: none;
    }
    
    paper-tabs[noink][nobar] paper-tab.core-selected {
      color: #ffff8d;
    }
    
    paper-tabs.transparent-teal {
      background-color: transparent;
      color: #00bcd4;
      box-shadow: none;
    }
    
    paper-tabs.transparent-teal::shadow #selectionBar {
      background-color: #00bcd4;
    }
    
    paper-tabs.transparent-teal paper-tab::shadow #ink {
      color: #00bcd4;
    }
    

  </style>



</head>
<body>

<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid-custom">
  <div class="navbar-width"> <!-- div to center -->
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> -->
    <%= link_to image_tag("CGcoinlogo.png"), root_path, method: :get %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Stats", stats_path %></li>
        <li><%= link_to "Exchange", exchange_path %></li>
        <li><%= link_to "Charts", charts_path %></li>

        <!-- <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li> -->
      </ul>
      <!-- <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form> -->
<!--       <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul> -->
    </div><!-- /.navbar-collapse -->
  </div>
  </div><!-- /.container-fluid -->
</nav>
<%= yield %>

</body>
</html>

