<!DOCTYPE html>
<html>
<head>
  <title>CGcoin</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <!--<link href="/assets/bootstrap-material-design/ripples.css?body=1" media="all" rel="stylesheet" />
  <link href="/assets/bootstrap-material-design/snackbar.css?body=1" media="all" rel="stylesheet" />
  <link href="/assets/bootstrap-material-design/material-wfont.css?body=1" media="all" rel="stylesheet" />
  <link href="/assets/bootstrap-material-design/index.css?body=1" media="all" rel="stylesheet" /> -->

  <%= javascript_include_tag 'application' %>
  <!---<script src="/assets/bootstrap-material-design/ripples.js?body=1"></script>
  <script src="/assets/bootstrap-material-design/snackbar.js?body=1"></script>
  <script src="/assets/bootstrap-material-design/index.js?body=1"></script> -->
 
  <%= csrf_meta_tags %>

  <!-- JAVASCRIPT LIBRARY LINK -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  <!-- BOOTSTRAP LIBRARY LINK -->
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Slabo+27px|Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body> 
<%= form_tag(stats_path, method: "get") do %>
  <%= label_tag(:addressSearch, "Search for:") %>
  <%= text_field_tag(:addressSearch,nil, placeholder: "Enter a Bitcoin Address Here!") %>
  <%= submit_tag("Search") %>
<% end %>
  <%= yield %>




</body>
</html>

